
body{
    background-color: gray;
}
.con{
    text-align: center;
}
h1{
    color:rgb(58, 4, 102);
    margin-top: 2px;
   
}
.ll{
    position: absolute;
    top: 38px;
    left: 525px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.726);
}
.container{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: black; */
    justify-content: center;
    align-items: flex-end;
    /* align-items: flex-end; */
    /* justify-content: space-evenly; */
    position: absolute;
    top: 220px;
    left: 270px;
    
}
.item1{
    height: 350px;
    width: 230px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    /* position: relative; */

}
.item2{
    height: 350px;
    width: 230px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
    padding-left: 10px;
    /* position: relative; */
}
.item3{
    height: 350px;
    width: 230px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin-left: 20px;
    position: relative;
   
}
img{
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    
}
h3{
    position: absolute;
    top: 220px;
    font-size: 14px;
    margin-left: 4px;
    padding-left: 4px;
    color: rgb(71, 4, 73);
    font-weight: bold;
}
.zia{
    display: flex;
    align-self: center;
    position: absolute;
    left: 15px;
    top: 20px;
    

}
.zia1{
    display: flex;
    align-self: center;
    position: absolute;
    left: 265px;
    top: 20px;
    

}
p{
    position: absolute;
    top: 270px;
     margin-left: 4px;
     padding-left: 6px;

}
h4{
    position:absolute;
    top: 300px;
    padding-left: 9px;
}
